@import "header";
@import "search";
@import "songs";
@import "pagination";

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  padding: 20px;

  @media (min-width: 1200px) {
    max-width: 1160px;
  }
}

.content {
  margin: 0 auto;
}