.header {
  background-color: $dark_blue;

  &__container {
    @include flex($align-items: center, $justify-content: space-between);

    margin: 0 auto;

    &-back {
      @include fonts('Poppins', 18px, 400, $white, 27px);
      @include flex($align-items: center);

      cursor: pointer;

      @media (min-width: 768px) {
        font-size: 22px;
      }

      &:before {
        @include backgrounds(24px 12px, url(../img/header/back-arrow.svg));

        content: '';
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 6px;

        @media (min-width: 768px) {
          width: 26px;
          height: 26px;
          background-size: 30px 18px;
        }
      }
    }

    &-list {
      @include flex($align-items: center);
    }

    &-item {
      @include backgrounds(18px 16px, '');

      width: 24px;
      height: 24px;
      cursor: pointer;

      @media (min-width: 768px) {
        width: 28px;
        height: 28px;
        background-size: 22px 20px;
      }

      & + .header__container-item {
        margin-left: 20px;
      }

      &.favorite {
        transition: all .3s;
        background-image: url(../img/header/favorite.svg);

        &.selected {
          background-image: url(../img/header/favorite-selected.svg);
        }
      }

      &.saved {
        transition: all .3s;
        background-image: url(../img/header/saved.svg);

        &.selected {
          background-image: url(../img/header/saved-selected.svg);
        }
      }
    }
  }
}
